<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/web-animations-js/web-animations-next.min.html">

<dom-module id="editar-perfil">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .user-row {
          margin-bottom: 14px;
      }

      .user-row:last-child {
          margin-bottom: 0;
      }

      .dropdown-user {
          margin: 13px 0;
          padding: 5px;
          height: 100%;
      }

      .dropdown-user:hover {
          cursor: pointer;
      }

      .table-user-information > tbody > tr {
          border-top: 1px solid rgb(221, 221, 221);
      }

      .table-user-information > tbody > tr:first-child {
          border-top: 0;
      }


      .table-user-information > tbody > tr > td {
          border-top: 0;
      }
      .toppad
      {margin-top:20px;
      }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <!-- Establecer la localicazación de la app -->
    <app-location route="{{route}}"></app-location>

    <!-- Recuperar los datos del perfil consultando al API -->
    <iron-ajax id="obtenerDatosPerfil"
      method = "GET"
      handle-as="json"
      on-response="handleDatosPerfil"
      on-error="handleErrorPerfil">
    </iron-ajax>

    <!-- Insertar los datos actualizados vía API -->
    <iron-ajax id="insertarDatosPerfil"
      method = "POST"
      handle-as="json"
      on-response="handleInsertarPerfil"
      on-error="handleErrorInsertar">
    </iron-ajax>

    <!-- Pintar los movimientos -->
    <div class="card">
        <div hidden$="[[!storedUser.logado]]">

          <!-- Mientras no se haya recibido la información, se pinta el icono de carga -->
          <div id="unauthenticated" hidden$="{{render}}">
            <paper-spinner-lite active class="thin"></paper-spinner-lite>
          </div>

          <!-- Una vez recibida la información, se muestra por pantalla -->
          <div id="authenticated" hidden$="{{!render}}">

            <div class="container">
                <h1>Editar Perfil</h1>
              	<hr>
            	<div class="row">
                  <!-- Parte izquierda del formulario de edición -->
                  <div class="col-md-3">
                    <div class="col-md-3 col-lg-8" align="center">
                      <img src="../images/avatar.png" class="rounded-circle img-thumbnail" alt="Avatar de usuario">
                      <h6>Actualizar foto</h6>
                    </div>
                    <div>
                      <input type="file" class="form-control">
                    </div>
                  </div>

                  <!-- Bloque de edición de datos personales -->
                  <div class="col-md-9 personal-info">

                    <!-- Aviso al usuario si se ha producido algún error -->
                    <p class="alert-error" hidden$={{!error}}><strong>Error:</strong> {{msgError}}</p>

                    <!-- Aviso al usuario cuando se realice una actualización de datos -->
                    <div class="alert alert-info alert-dismissable" hidden$={{!datosGuardados}}>
                      <a class="panel-close close" data-dismiss="alert">×</a>
                      <i class="fa fa-coffee"></i>
                      Se han actualizado los datos correctamente.
                    </div>


                    <!-- Bloque de información personal -->
                    <h3>Información personal</h3>

                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Nombre:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" value={{storedUserAux.nombre::input}}>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Apellido:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" value={{storedUserAux.apellido::input}}>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Ciudad:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" value={{storedUserAux.ciudad::input}}>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Fecha de nacimiento:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" value={{storedUserAux.fec_naci::input}}>
                        </div>
                      </div>
                      <!-- Casilla genero con desplegable -->
                      <div class="form-group">
                        <div class="col-lg-8">
                          <paper-dropdown-menu label="Género">
                            <paper-listbox id="comboGenero" slot="dropdown-content" selected="{{getSelectedGenero(storedUserAux.genero)}}">
                              <paper-item>Hombre</paper-item>
                              <paper-item>Mujer</paper-item>
                            </paper-listbox>
                          </paper-dropdown-menu>
                        </div>
                      </div>

                      <!-- Este atributo es clave primaria, por eso es de solo lectura-->
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                          <input class="form-control" readonly="readonly" type="text" value={{storedUserAux.email}}>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Teléfono:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" value={{storedUserAux.telefono::input}}>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                          <input type="button" class="btn btn-primary" on-click="guardarCambios" value="Guardar cambios">
                          <span></span>
                          <input type="button" class="btn btn-default" on-click="recargarForm" value="Cancelar">
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <p hidden$="[[storedUser.logado]]">Debes realizar <a href="[[rootPath]]register-login">log in</a> para acceder a esta página</p>
    </div>
  </template>

  <script>
    class EditarPerfil extends Polymer.Element {
      static get is() { return 'editar-perfil'; }

      static get properties() {
          return {
            storedUser: Object,
            storedUserAux: Object,
            render:{
              type: Boolean,
              value: false
            },
            activated: {
                type: Boolean,
                observer: '_activationChanged'
            },
            datosGuardados:{
              type: Boolean,
              value: false
            },
            error:{
              type: Boolean,
              value: false
            },
            msgError: String
          };
      }

      /**
       * Método que se invoca al cambiar la propiedad 'activated', es decir, cuando se activa esta página en el navegador
       */
      _activationChanged(newval, oldval) {
        if (newval){
          //todavía no se puede pintar la información en pantalla
          this.render = false
          //tampoco se han guardado datos aún
          this.datosGuardados = false
          //lanzar petición de datos de usuario al API
          this.$.obtenerDatosPerfil.url = "http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/usuarios/"+this.storedUser.id
          this.$.obtenerDatosPerfil.generateRequest()
        }
      }

      /**
       * Método que recarga el formulario
       */
      recargarForm() {
          //todavía no se puede pintar la información en pantalla
          this.render = false
          //tampoco se han guardado datos aún
          this.datosGuardados = false
          //lanzar petición de datos de usuario al API
          this.$.obtenerDatosPerfil.url = "http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/usuarios/"+this.storedUser.id
          this.$.obtenerDatosPerfil.generateRequest()
      }

      /**
       * Manejador del resultado de la petición de datos de usuario
       */
      handleDatosPerfil(resultado){
        this.storedUserAux = {
          email: resultado.detail.response.email,
          id: resultado.detail.response.id,
          nombre: resultado.detail.response.nombre,
          apellido: resultado.detail.response.apellido,
          genero: resultado.detail.response.genero,
          fec_naci: resultado.detail.response.fec_naci,
          telefono: resultado.detail.response.telefono,
          ciudad: resultado.detail.response.ciudad,
          logado: this.storedUser.logado
        }
        //en este momento ya se puede pintar la información en pantalla
        this.render = true
      }

      /**
       * Manejador del error de la petición de datos de usuario
       */
      handleErrorPerfil(error){
        error = true
        msgError = "No se han podido recuperar los datos del perfil. Por favor, inténtelo de nuevo."
      }

      /**
       * Método invocado al pulsar el botón de "Editar perfil"
       */
      guardarCambios(e){
        //resetear valor del error
        this.error = false
        this.msgError = ""
        //tampoco se han guardado datos aún
        this.datosGuardados = false

        // se traduce el dato introducido por combobox en el Género
        if(this.$.comboGenero.selected == 1){ //si es un Hombre
          this.storedUserAux.genero = "Mujer"
        }
        else{ //si es una Mujer
          this.storedUserAux.genero = "Hombre"
        }

        // se valida la información introducida por el usuario
        this._validarFormulario()

        // si no ha habido error se continua con el proceso de inserción
        if(!this.error){
          //lanzar inserción de datos de usuario al API
          this.$.insertarDatosPerfil.url = "http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/usuarios/modificacion"
          this._setReqHeader()
          this.$.insertarDatosPerfil.generateRequest()
        }
      }

      /**
       * Establecer las cabeceras de la actualización de datos del perfil
       */
      _setReqHeader() {
        this.$.insertarDatosPerfil.headers.nombre = this.storedUserAux.nombre
        this.$.insertarDatosPerfil.headers.apellido = this.storedUserAux.apellido
        this.$.insertarDatosPerfil.headers.email = this.storedUserAux.email
        this.$.insertarDatosPerfil.headers.ciudad = this.storedUserAux.ciudad
        this.$.insertarDatosPerfil.headers.fec_naci = this.storedUserAux.fec_naci
        this.$.insertarDatosPerfil.headers.genero = this.storedUserAux.genero
        this.$.insertarDatosPerfil.headers.telefono = this.storedUserAux.telefono
      }

      /**
       * Manejador del error de la inserción
       */
      handleErrorInsertar(error){
        error = true
        msgError = "Lo sentimos, no se ha podido actualizar el perfil. Inténtelo de nuevo."
      }

      /**
       * Manejador de la respuesta al insertar los datos de usuario
       */
      handleInsertarPerfil(error){
        //si todo ha ido bien, los datos actualizados se cargan en la variable storedUser
        this.storedUser = this.storedUserAux

        //se muestra al usuario que sus datos han sido guardados
        this.datosGuardados = true
      }

      /**
       * Validar los campos del formulario de registro
       */
      _validarFormulario(){
        //console.log("Validando el formulario", this.storedUserAux)
        // no se aceptan valores nulos en ningún atributo
        if(!this.storedUserAux.nombre || !this.storedUserAux.apellido || !this.storedUserAux.ciudad || !this.storedUserAux.telefono || !this.storedUserAux.fec_naci){
            this.error = true
            this.msgError = "Ningún campo del formulario puede estar vacío"
            return
        }

        // validar la Fecha de nacimiento
        var patronFecha =/^([0-9]{4})\/([0-9]{2})\/([0-9]{2})$/;
        if(!patronFecha.test(this.storedUserAux.fec_naci))
        {
          this.error = true
          this.msgError = "El campo 'Fecha de nacimiento' debe contener una fecha válida con el formato 'YYYY/MM/DD'"
          return
        }

        // validar el Teléfono
        var patronTlf = /^\d{9}$/;
        if(!patronTlf.test(this.storedUserAux.telefono)){
          this.error = true
          this.msgError = "El campo 'Teléfono' debe contener un número de teléfono válido (9 dígitos consecutivos)"
          return
        }
      }

      /**
       * Método para traducir el literal del genéro almacenado en la BBDD a un valor numérico interpretable por el combobox
       */
      getSelectedGenero(genero){
        if(genero == "Mujer"){
          return 1
        }
        else{
          return 0
        }
      }

    }

    window.customElements.define(EditarPerfil.is, EditarPerfil);
  </script>
</dom-module>
