<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="log-out">
  <template>
    <style include="shared-styles">
    :host {
      margin: 0;
      padding: 0;
    }
    paper-button {
      color: #fff;
    }
    paper-button.link {
      color: #fff;
      display: inline-block;
      font-size: 13px;
    }
    paper-button.indigo {
      background-color: var(--paper-indigo-500);
      color: white;
      --paper-button-raised-keyboard-focus: {
        background-color: var(--paper-pink-a200) !important;
        color: white !important;
      };
    }
    paper-button.indigo:hover {
      background-color: var(--paper-indigo-400);
    }
    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <!-- Consultar datos cliente en API -->
    <iron-ajax id="registerLogOutAjax"
     method= "POST"
     handle-as="json"
     on-response="handleLogOutResponse"
     on-error="handleLogOutError">
    </iron-ajax>

    <!-- Establecer la localicazación de la app -->
    <app-location route="{{route}}"></app-location>

    <template is="dom-if" if="{{!link}}">
      <paper-button raised class="indigo" on-click="postLogout">Cerrar sesión</paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <paper-button class="link" on-click="postLogout">Cerrar sesión</paper-button>
    </template>

  </template>

  <script>
    class LogOut extends Polymer.Element {
      static get is() { return 'log-out'; }

      static get properties() {
          return {
              storedUser: Object,
              link: {
                  type: Boolean,
                  value: false
              }
          }
      }

      /**
       * Método que realiza envía el logout al Backend
       */
      postLogout() {
          this.$.registerLogOutAjax.url = "http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/logout"
          this.$.registerLogOutAjax.headers.id = this.storedUser.id
          this.$.registerLogOutAjax.generateRequest()
      }

      /**
       * Manejador del resultado del logout
       */
      handleLogOutResponse(evt){
          // redireccionar a destino
          this.set('route.path', '/visor-cuentas');

          // se vacía la variable de sesión
          this.storedUser = null;
          // redireccionar a la página de login
          this.set('route.path', '/register-login');
      }

        /**
         * Manejador del error del logout
         */
        handleLogOutError(event){
          this.error = true
          this.msgError = event.detail.error.message
        }

    }

    window.customElements.define(LogOut.is, LogOut);
  </script>
</dom-module>
