<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="log-out.html">

<dom-module id="mover-dinero">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style include="shared-styles">
      [hidden]{
        display: none !important;
      }

      form { margin: 0px 10px; }

      h2 {
        margin-top: 2px;
        margin-bottom: 2px;
      }

      .container { max-width: 360px; }

      .divider {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      .divider hr {
        margin: 7px 0px;
        width: 35%;
      }

      .left { float: left; }

      .right { float: right; }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>

    <!-- Persistir la variables de sesión -->
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-localstorage name="user-iban" value="{{storedIban}}"></iron-localstorage>
    <brum-global-variable key="userIban" value="{{storedIban}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <!-- Aviso al usuario si se ha producido algún error -->
      <p class="alert-error" hidden$={{!error}}><strong>Error:</strong> {{msgError}}</p>

      <!-- Aviso al usuario si se ha movido el dinero correctamente -->
      <div class="alert alert-info alert-dismissable" hidden$={{!movRealizado}}>
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        Se ha realizado el movimiento de dinero correctamente.
      </div>

      <!-- Parte mostrada al usuario logado -->
      <div id="authenticated" hidden$="[[!storedUser.logado]]"><form>
        <div class="container">
    		<div class="row">
    			<div class="panel panel-primary">
    				<div class="panel-body">

              <!-- Formulario de registro -->
    					<form id="formularioMoverDinero" method="POST" action="#" role="form">
                <!-- Cabecera -->
    						<div class="form-group">
    							<h2>Enviar/Solicitar dinero</h2>
                  <hr>
    						</div>

                <!-- Selección de acción -->
                <div class="form-group">
                	<label class="control-label" for="radioBoton">¿Qué desea hacer?</label><br/>
                  <paper-radio-group id="radioBoton" selected="enviar">
                    <paper-radio-button name="enviar">Enviar dinero desde mi cuenta {{storedIban.iban}}</paper-radio-button><br/>
                    <paper-radio-button name="solicitar">Solicitar dinero a mi cuenta {{storedIban.iban}}</paper-radio-button>
                  </paper-radio-group>
                </div>

                <!-- Casilla nombre completo -->
                <div class="form-group">
                	<label class="col-lg-8 control-label" for="nombreDest">Nombre completo del destinatario</label>
                  <div class="col-lg-8">
                	   <input id="nombreDest" type="text" maxlength="100" class="form-control" value="{{formMoverDinero.nombre::input}}">
                  </div>
                </div>

                <!-- Casilla email -->
                <div class="form-group">
                	<label class="col-lg-8 control-label" for="emailDest">Email del destinatario</label>
                  <div class="col-lg-8">
                	   <input id="emailDest" type="email" maxlength="50" class="form-control" value="{{formMoverDinero.email::input}}">
                  </div>
                </div>

                <!-- Casilla nombre completo -->
                <div class="form-group">
                	<label class="col-lg-8 control-label" for="ibanDest">IBAN del destinatario</label>
                  <div class="col-lg-8">
                	   <input id="ibanDest" type="text" maxlength="24" class="form-control" value="{{formMoverDinero.iban::input}}">
                 </div>
                </div>

                <!-- Casilla cantidad -->
                <div class="form-group">
                	<label class="col-lg-8 control-label" for="cantDest">¿Qué cantidad desea enviar? (entre 1 y 500 euros)</label>
                  <div class="col-lg-8">
                	   <input id="cantDest" type="number" min="1" max="500" class="form-control" value="{{formMoverDinero.cantidad::input}}">
                 </div>
                </div>

                <!-- Botón de acción -->
                <div class="form-group">
                  <div class="col-md-10">
                    <input type="button" class="btn btn-primary" on-click="postMoverDinero" value="Realizar transacción">
                    <input type="reset" class="btn btn-default" value="Limpiar formulario">
                  </div>
                </div>

                <!-- Botón de confirmación -->
                <paper-dialog id="actions">
                  <br/>
                  <p>Se va a realizar la transacción, ¿estás seguro?</p>
                  <div class="buttons">
                    <paper-button dialog-dismiss>Cancelar</paper-button>
                    <paper-button dialog-confirm autofocus on-click="postTransaccion">Aceptar</paper-button>
                  </div>
                </paper-dialog>
    						<hr>
    					</form>
              <!-- Fin formulario de registro -->
            </div>
    				</div>
    			</div>
    		</div>
    	</div>

      <!-- Si no se ha realizado login, se solicita al usuario que realice login para tener acceso a esta página -->
      <p hidden$="[[storedUser.logado]]">Debes realizar <a href="[[rootPath]]register-login">log in</a> para acceder a esta página</p>

    </div>

    <!-- Insertar movimiento en API -->
    <iron-ajax id="moverDinero"
     method= "POST"
     handle-as="text"
     on-response="handleRespMovDinero"
     on-error="handleErrMovDinero">
    </iron-ajax>

  </template>

  <script>
    class MoverDinero extends Polymer.Element {
      static get is() { return 'mover-dinero'; }

        static get properties() {
          return {
            formMoverDinero: {
              type: Object,
              value: {}
            },
            storedUser: Object,
            activated: {
                type: Boolean,
                observer: '_activationChanged'
            },
            error:{
              type: Boolean,
              value: false
            },
            movRealizado:{
              type: Boolean,
              value: false
            },
            msgError: String
          }
        }

        /**
         * Método que se invoca al cambiar la propiedad 'activated', es decir, cuando se activa esta página en el navegador
         */
        _activationChanged(newval, oldval) {
          if (newval){
            // reset formulario
            this.formMoverDinero = {}
            // reset de las variables de control
            this.error = false
            this.msgError = ""
            this.movRealizado = false
          }
        }

        /**
         * Realizar la transacción
         */
        postTransaccion(){
          //console.log("Insertando movimiento")

          this.$.moverDinero.url = 'http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/cuentas/movimientos/alta';
          this._setReqHeader();
          this.$.moverDinero.generateRequest();
        }

        /**
         * Validar los campos del formulario de registro
         */
        _validarFormulario(){
          //console.log("Validando el formulario", this.formMoverDinero)
          // no se aceptan valores nulos en ningún atributo
          if(this.formMoverDinero.nombre == null || this.formMoverDinero.email == null || this.formMoverDinero.iban == null || this.formMoverDinero.cantidad == null){
              this.error = true
              this.msgError = "Ningún campo del formulario puede estar vacío"
              return
          }
          else{
            if(this.formMoverDinero.nombre == "" || this.formMoverDinero.email == "" || this.formMoverDinero.iban == "" || this.formMoverDinero.cantidad == ""){
              this.error = true
              this.msgError = "Ningún campo del formulario puede estar vacío"
              return
            }
          }

          // validar formato del email
          var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          if(!filter.test(this.formMoverDinero.email)){
            this.error = true
            this.msgError = "El campo 'Email' debe contener una dirección de correo válida"
            return
          }

          if(this.formMoverDinero.cantidad<1 || this.formMoverDinero.cantidad>500){
            this.error = true
            this.msgError = "El campo 'Cantidad' debe contener un valor entre 1 y 500 euros"
          }

          // validar iban
          var isIbanOK = this.fn_ValidateIBAN(this.formMoverDinero.iban)
          if(!isIbanOK){
            this.error = true
            this.msgError = "El campo 'IBAN' debe tener un formato de IBAN válido (2 letras + 2 dígitos de control + número de cuenta)"
          }
        }

        /**
         * Grupo de funciones para validar IBANes
         */
        fn_ValidateIBAN(IBAN) {

          //console.log("Validando el IBAN")

          //Se pasa a mayúsculas
          IBAN = IBAN.toUpperCase();
          //Se quita los blancos de principio y final.
          IBAN = IBAN.trim();
          IBAN = IBAN.replace(/\s/g, ""); //Y se quita los espacios en blanco dentro de la cadena

          var letra1,letra2,num1,num2;
          var resto;
          var isbanaux;
          var numeroSustitucion;

          //La longitud debe ser siempre de 24 caracteres (en España)
          if (IBAN.length != 24) {
              return false;
          }

          // Se coge las primeras dos letras y se pasan a números
          letra1 = IBAN.substring(0, 1);
          letra2 = IBAN.substring(1, 2);
          num1 = this.getnumIBAN(letra1);
          num2 = this.getnumIBAN(letra2);
          //Se sustituye las letras por números
          isbanaux = String(num1) + String(num2) + IBAN.substring(2);
          // Se mueve los 6 primeros caracteres al final de la cadena
          isbanaux = isbanaux.substring(6) + isbanaux.substring(0,6);

          //Se calcula el resto, llamando a la función modulo97
          resto = this.modulo97(isbanaux);
          if (resto == 1){
              return true;
          }else{
              return false;
          }
        }

        modulo97(iban) {
            var parts = Math.ceil(iban.length/7);
            var remainer = "";

            for (var i = 1; i <= parts; i++) {
                remainer = String(parseFloat(remainer+iban.substr((i-1)*7, 7))%97);
            }

            return remainer;
        }

        getnumIBAN(letra) {
            var ls_letras = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            return ls_letras.search(letra) + 10;
        }
        /**
         * Fin grupo de funciones para validar IBANes
         */

        /**
         * Establecer las cabeceras de la petición Ajax
         */
        _setReqHeader() {
          // Se establece por defecto movimiento en euros
          this.$.moverDinero.headers.moneda = "EUR"
          this.$.moverDinero.headers.iban = this.storedIban.iban
          this.$.moverDinero.headers.saldomov = this.formMoverDinero.cantidad
          // Si es una transferencia se envía un 0, si es una petición se envía un 1
          if(this.$.radioBoton.selected == "enviar"){
            this.$.moverDinero.headers.tipomov = 0
          }
          else{
            this.$.moverDinero.headers.tipomov = 1
          }
        }

        /**
         * Registrar el movimiento
         */
        postMoverDinero() {
          //resetear valor del error
          this.error = false
          this.msgError = ""
          //resetear valor de movRealizado
          this.movRealizado = false
          //validar los datos introducidos
          this._validarFormulario()
          //si el formulario ha sido validado, se solicita re-confirmación al usuario antes de proceder
          if(!this.error){
            this.$.actions.open()
          }
        }

        /**
         * Manejar la recepción del registro
         */
        handleRespMovDinero(e){
          this.movRealizado = true
        }

        /**
         * Manejar la recepción del error al registrar usuario
         */
        handleErrMovDinero(e){
          //console.log("Llegó error en handleErrMovDinero")
          this.error = true
          this.msgError = e.detail.request.response
        }
    }

    window.customElements.define(MoverDinero.is, MoverDinero)
  </script>
</dom-module>
