<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="visor-cuentas.html">
<link rel="lazy-import" href="visor-perfil.html">
<link rel="lazy-import" href="not-found.html">
<link rel="import" href="log-out.html">

<dom-module id="my-app">
  <template>
    <style>
      [hidden]{
        display: none !important;
      }

      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }
      app-header .greeting {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="visor-cuentas" hidden$="{{!storedUser.logado}}" href="[[rootPath]]visor-cuentas">Mis cuentas</a>
          <a name="visor-perfil" hidden$="{{!storedUser.logado}}" href="[[rootPath]]visor-perfil">Mi perfil</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Bienvenido a MiBanco</div>
            <a name="register-login" href="[[rootPath]]register-login" hidden$="{{storedUser.logado}}">Log in</a>
            <div hidden$="[[!storedUser.logado]]">
              <span class="greeting">Hola [[storedUser.nombre]]!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected-attribute="activated"
            id="pages"
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <visor-cuentas name="visor-cuentas"></visor-cuentas>
          <log-out name="log-out"></log-out>
          <register-login name="register-login"></register-login>
          <register-user name="register-user"></register-user>
          <visor-movimientos name="visor-movimientos"></visor-movimientos>
          <visor-perfil name="visor-perfil" id="visorperfil"></visor-perfil>
          <mover-dinero name="mover-dinero"></mover-dinero>
          <editar-perfil name="editar-perfil"></editar-perfil>
          <not-found name="not-found"></not-found>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'login' in that case.
        this.page = page || 'register-login';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
