<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="log-out.html">

<dom-module id="register-login">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style include="shared-styles">
      [hidden]{
        display: none !important;
      }

      :host {
        display: block;

        padding: 10px;
      }

      .wrapper-btns {
          margin-top: 15px;
      }
      paper-button.link {
          color: #757575;
      }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

    </style>

    <!-- Persistir la variables de sesión -->
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <!-- Establecer la localicazación de la app -->
    <app-location route="{{route}}"></app-location>

    <div class="card">

      <!-- Parte mostrada al usuario no logado -->
      <div id="unauthenticated" hidden$="[[storedUser.logado]]">
            <h1>Log In</h1>
            <hr>

        <p>Haz <strong> log in</strong> o <strong>regístrate</strong> para acceder a MiBanco</p>

        <p class="alert-error" hidden$={{!error}}><strong>Error:</strong> {{msgError}}</p>

        <!-- Formulario para el login -->
        <div class="form-group">
          <label class="col-lg-8 control-label" for="signupEmail">Email</label>
          <div class="col-lg-8">
            <input id="signupEmail" type="email" maxlength="50" class="form-control" value="{{formData.email::input}}">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-8 control-label" for="signupPassword">Password</label>
          <div class="col-lg-8">
            <input id="signupPassword" type="password" maxlength="25" class="form-control" length="40" value="{{formData.password::input}}">
          </div>
        </div>


        <div class="wrapper-btns">
          <div class="col-md-8">
            <paper-button raised class="btn btn-primary" on-tap="postLogin">Log In</paper-button>
            <paper-button class="btn btn-info" on-tap="postRegistrar">Registrarse</paper-button>
          </div>
        </div>
      </div>

      <!-- Parte mostrada al usuario previamente logado -->
      <div id="authenticated" hidden$="[[!storedUser.logado]]">
        <!-- Se almacena la información del usuario en la sesión -->
          <h2>Hola, [[storedUser.email]]!</h2>
          <p>Te has logado correctamente. Ya puedes <a href="[[rootPath]]visor-cuentas">ver tus cuentas</a>!</p>

          <log-out stored-user="{{storedUser}}" on-eventologout="procesarLogout"></log-out>
      </div>

    </div>

    <!-- Obtener datos cliente desde API -->
    <iron-ajax id="registerLoginAjax"
     method= "POST"
     handle-as="json"
     on-response="handleUserResponse"
     on-error="handleUserError">
    </iron-ajax>

  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }

        static get properties() {
          return {
            formData: {
              type: Object,
              value: {}
            },
            storedUser: Object,
            error:{
              type: Boolean,
              value: false
            },
            msgError: String,
            logado:{
              type: Boolean,
              value: false
            }
          }
        }

        /**
         * Método para estabelecer las cabeceras de la petición
         */
        _setReqHeader() {
          this.$.registerLoginAjax.headers.email = this.formData.email
          this.$.registerLoginAjax.headers.password = this.formData.password
        }

        /**
         * Método invocado al pulsar el botón de "Log in"
         */
        postLogin() {
          //login sin cifrado
          //this.$.registerLoginAjax.url = "http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/login"
          //login con cifrado
          this.$.registerLoginAjax.url = "http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/login"
          this._setReqHeader()
          this.$.registerLoginAjax.generateRequest()
        }

        /**
         * Método invocado al pulsar el botón de "Registrarse"
         */
         postRegistrar() {
          this.set('route.path', '/register-user');
        }

        /**
         * Manejador del resultado de la petición de datos de usuario
         */
        handleUserResponse(e){
          console.log("En el manejador de respuesta register-login")
          console.log(e.detail.response)
          if (e.detail.response.id) {
            this.error = false
            this.msgError = ""
            this.storedUser = {
              email: this.formData.email,
              id: e.detail.response.id,
              nombre: e.detail.response.nombre,
              apellido: e.detail.response.apellido,
              logado: true
            }
            // redireccionar a destino
            this.set('route.path', '/visor-cuentas');
          }

          console.log(e.detail.response.Login)
          console.log(e.detail.response.id)
          console.log(e.detail.response.nombre)
          console.log(e.detail.response.apellido)
          console.log(this.error)
          console.log(this.msgError)

          // reset formulario
          this.formData = {}
        }

        /**
         * Manejador del error en la petición de datos de usuario
         */
        handleUserError(e){
          this.error = true
          this.msgError = e.detail.request.response.Error
        }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin)
  </script>
</dom-module>
