<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/web-animations-js/web-animations-next.min.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="log-out.html">

<dom-module id="register-user">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style include="shared-styles">
      [hidden]{
        display: none !important;
      }

      form { margin: 0px 10px; }

      h2 {
        margin-top: 2px;
        margin-bottom: 2px;
      }

      .container { max-width: 360px; }

      .divider {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      .divider hr {
        margin: 7px 0px;
        width: 35%;
      }

      .left { float: left; }

      .right { float: right; }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>

    <!-- Persistir la variables de sesión -->
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <!-- Establecer la localicazación de la app -->
    <app-location route="{{route}}"></app-location>

    <div class="card">

      <!-- Aviso al usuario si se ha producido algún error -->
      <p class="alert-error" hidden$={{!error}}><strong>Error:</strong> {{msgError}}</p>

      <!-- Aviso al usuario si se ha registrado correctamente -->
      <div class="alert alert-info alert-dismissable" hidden$={{!registrado}}>
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        Se ha registrado el usuario correctamente. Por favor, <a href="/register-login"> haz login</a> para empezar a utilizar MiBanco.
      </div>

      <!-- Parte mostrada al usuario no logado -->
      <div id="unauthenticated" hidden$="[[storedUser.logado]]"><form>
        <div class="container">
    		<div class="row">
    			<div class="panel panel-primary">
    				<div class="panel-body">

              <!-- Formulario de registro -->
    					<form id="formularioRegistro" method="POST" action="#" role="form">
                <!-- Cabecera -->
    						<div class="form-group">
    							<h2>Introduzca su información para el registro</h2>
    						</div>

                <!-- Casilla nombre -->
                <div class="form-group">
                	<label class="control-label" for="signupName">Nombre</label>
                  <input id="signupName" type="text" maxlength="50" class="form-control" value="{{formReg.nombre::input}}">
                </div>

                <!-- Casilla apellido -->
                <div class="form-group">
                	<label class="control-label" for="signupApellido">Apellido</label>
                	<input id="signupApellido" type="text" maxlength="50" class="form-control" value="{{formReg.apellido::input}}">
                </div>

                <!-- Casilla ciudad -->
                <div class="form-group">
                	<label class="control-label" for="signupCiudad">Ciudad</label>
                	<input id="signupCiudad" type="text" maxlength="50" class="form-control" value="{{formReg.ciudad::input}}">
                </div>

                <!-- Casilla fecha nacimiento -->
                <div class="form-group">
                	<label class="control-label" for="signupFecNac">Fecha de nacimiento</label>
                	<input id="signupFecNac" type="text" maxlength="50" class="form-control" value="{{formReg.fec_naci::input}}">
                </div>

                <!-- Casilla genero con desplegable -->
                <div class="form-group">
                  <paper-dropdown-menu label="Género">
                    <paper-listbox id="signupGenero" slot="dropdown-content" selected="0">
                      <paper-item>Hombre</paper-item>
                      <paper-item>Mujer</paper-item>
                    </paper-listbox>
                  </paper-dropdown-menu>
                </div>

                <!-- Casilla telefono -->
                <div class="form-group">
                	<label class="control-label" for="signupTelefono">Teléfono</label>
                	<input id="signupTelefono" type="text" maxlength="50" class="form-control" value="{{formReg.telefono::input}}">
                </div>

                <!-- Casilla email -->
                <div class="form-group">
                	<label class="control-label" for="signupEmail">Email</label>
                	<input id="signupEmail" type="email" maxlength="50" class="form-control" value="{{formReg.email::input}}">
                </div>

                <!-- Casilla repetir email -->
                <div class="form-group">
                	<label class="control-label" for="signupEmailagain">Repita su email</label>
                	<input id="signupEmailagain" type="email" maxlength="50" class="form-control" value="{{formReg.emailAux::input}}">
                </div>

                <!-- Casilla password -->
                <div class="form-group">
                	<label class="control-label" for="signupPassword">Password</label>
                	<input id="signupPassword" type="password" maxlength="25" class="form-control" length="40" value="{{formReg.password::input}}">
                </div>

                <!-- Casilla repetir password -->
                <div class="form-group">
                	<label class="control-label" for="signupPasswordagain">Repita su password</label>
                	<input id="signupPasswordagain" type="password" maxlength="25" class="form-control" value="{{formReg.passwordAux::input}}">
                </div>
                <!-- Botón de registro -->
    						<div class="form-group">
                  <paper-button raised class="btn btn-info btn-block" on-tap="postRegistrar">Registrarse</paper-button>
    						</div>
    						<p class="form-group">Registrándose acepta nuestros <a href="#">términos de uso</a> y nuestra <a href="#">política de privacidad</a>.</p>
    						<hr>
    						<p></p>¿Ya tienes una cuenta?<a href="/register-login"> Haz login</a></p>
    					</form>
              <!-- Fin formulario de registro -->
            </div>
    				</div>
    			</div>
    		</div>
    	</div>


      <!-- Parte mostrada al usuario logado -->
      <div id="authenticated" hidden$="[[!storedUser.logado]]">
        <!-- Se almacena la información del usuario en la sesión -->
          <h2>Hola, [[storedUser.email]]!</h2>
          <p>Te has logado correctamente. Ya puedes acceder a <a href="[[rootPath]]visor-cuentas">visor-cuentas</a>!</p>
          <log-out stored-user="{{storedUser}}" on-eventologout="procesarLogout"></log-out>
      </div>

    </div>

    <!-- Consultar datos cliente en API -->
    <iron-ajax id="darAltaUsuario"
     method= "POST"
     handle-as="text"
     on-response="handleRespAlta"
     on-error="handleErrAlta">
    </iron-ajax>

  </template>

  <script>
    class RegisterUser extends Polymer.Element {
      static get is() { return 'register-user'; }

        static get properties() {
          return {
            formReg: {
              type: Object,
              value: {}
            },
            storedUser: Object,
            error:{
              type: Boolean,
              value: false
            },
            activated: {
                type: Boolean,
                observer: '_activationChanged'
            },
            registrado:{
              type: Boolean,
              value: false
            },
            msgError: String
          }
        }

        /**
         * Método que se invoca al cambiar la propiedad 'activated', es decir, cuando se activa esta página en el navegador
         */
        _activationChanged(newval, oldval) {
          if (newval){
            // reset formulario
            this.formReg = {}
            // resete de las variables de control
            this.error = false
            this.msgError = ""
            this.registrado = false
          }
        }

        /**
         * Validar los campos del formulario de registro
         */
        _validarFormulario(){
          //console.log("Validando el formulario", this.formReg)
          // no se aceptan valores nulos en ningún atributo
          if(!this.formReg.nombre || !this.formReg.apellido || !this.formReg.ciudad || !this.formReg.telefono || !this.formReg.fec_naci || !this.formReg.email || !this.formReg.password){
              this.error = true
              this.msgError = "Ningún campo del formulario puede estar vacío"
              return
          }

          // validar la Fecha de nacimiento
          var patronFecha =/^([0-9]{4})\/([0-9]{2})\/([0-9]{2})$/;
          if(!patronFecha.test(this.formReg.fec_naci))
          {
            this.error = true
            this.msgError = "El campo 'Fecha de nacimiento' debe contener una fecha válida con el formato 'YYYY/MM/DD'"
            return
          }

          // validar el Teléfono
          var patronTlf = /^\d{9}$/;
          if(!patronTlf.test(this.formReg.telefono)){
            this.error = true
            this.msgError = "El campo 'Teléfono' debe contener un número de teléfono válido (9 dígitos consecutivos)"
            return
          }

          // validar formato del email
          var patronEmail = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          if(!patronEmail.test(this.formReg.email)){
            this.error = true
            this.msgError = "El campo 'Email' debe contener una dirección de correo válida"
            return
          }

          // validar que el email introducido en los dos campos es el mismo
          if(this.formReg.email != this.formReg.emailAux){
            this.error = true
            this.msgError = "El email introducido debe ser el mismo en los dos campos"
            return
          }

          //validar que el password introducido en los dos campos es el mismo
          if(this.formReg.password != this.formReg.passwordAux){
            this.error = true
            this.msgError = "El password introducido debe ser el mismo en los dos campos"
            return
          }
        }

        /**
         * Establecer las cabeceras de la petición Ajax
         */
        _setReqHeader() {
          this.$.darAltaUsuario.headers.nombre = this.formReg.nombre
          this.$.darAltaUsuario.headers.apellido = this.formReg.apellido
          this.$.darAltaUsuario.headers.email = this.formReg.email
          this.$.darAltaUsuario.headers.ciudad = this.formReg.ciudad
          this.$.darAltaUsuario.headers.password = this.formReg.password
          this.$.darAltaUsuario.headers.fec_naci = this.formReg.fec_naci

          if(this.$.signupGenero.selected = 0){ //si es un Hombre
            this.$.darAltaUsuario.headers.genero = "Hombre"
          }
          else{ //si es una Mujer
            this.$.darAltaUsuario.headers.genero = "Mujer"
          }
          this.$.darAltaUsuario.headers.telefono = this.formReg.telefono
        }
        /**
         * Registrar al nuevo usuario
         */
        postRegistrar() {
          //resetear valor del error
          this.error = false
          this.msgError = ""
          //resetear valor de registrado
          this.registrado = false
          //validar los datos introducidos
          this._validarFormulario()

          //si el formulario ha sido validado, se procede al alta
          if(!this.error){
            //console.log("Invocando al alta en la api")
            this.$.darAltaUsuario.url = 'http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/usuarios/alta'
            this._setReqHeader();
            this.$.darAltaUsuario.generateRequest();
          }
        }

        /**
         * Manejar la recepción del registro
         */
        handleRespAlta(e){
          this.registrado = true
        }

        /**
         * Manejar la recepción del error al registrar usuario
         */
        handleErrAlta(e){
          this.error = true
          this.msgError = e.detail.request.response
        }
    }

    window.customElements.define(RegisterUser.is, RegisterUser)
  </script>
</dom-module>
