<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="visor-perfil">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .user-row {
          margin-bottom: 14px;
      }

      .user-row:last-child {
          margin-bottom: 0;
      }

      .dropdown-user {
          margin: 13px 0;
          padding: 5px;
          height: 100%;
      }

      .dropdown-user:hover {
          cursor: pointer;
      }

      .table-user-information > tbody > tr {
          border-top: 1px solid rgb(221, 221, 221);
      }

      .table-user-information > tbody > tr:first-child {
          border-top: 0;
      }


      .table-user-information > tbody > tr > td {
          border-top: 0;
      }
      .toppad
      {margin-top:20px;
      }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }      

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


    <!-- Establecer la localicazación de la app -->
    <app-location route="{{route}}"></app-location>

    <!-- Recuperar las cuentas consultando al API -->
    <iron-ajax id="obtenerDatosPerfil"
      method = "GET"
      handle-as="json"
      on-response="handleDatosPerfil"
      on-error="handleErrorPerfil">
    </iron-ajax>

    <!-- Pintar los movimientos -->
    <div class="card">
      <!-- Aviso al usuario si se ha producido algún error -->
      <p class="alert-error" hidden$={{!error}}><strong>Error:</strong> {{msgError}}</p>

      <!-- Solo se pintan si se ha hecho login previamente -->
        <div hidden$="[[!storedUser.logado]]">

          <!-- Mientras no se haya recibido la información, se pinta el icono de carga -->
          <template is="dom-if" if="{{!render}}">
            <paper-spinner-lite active class="thin"></paper-spinner-lite>
          </template>

          <!-- Una vez recibida la información, se muestra por pantalla -->
          <template is="dom-if" if="{{render}}">

            <div class="container">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3 class="panel-title">{{storedUser.nombre}} {{storedUser.apellido}}</h3>
                          <hr>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="Avatar de usuario" src="../images/avatar.png" class="rounded-circle img-thumbnail"> </div>
                            <div class=" col-md-9 col-lg-9 ">
                              <table class="table table-user-information">
                                <tbody>
                                  <tr>
                                    <td><iron-icon icon="home"></</td>
                                    <td>{{storedUser.ciudad}}</td>
                                  </tr>
                                  <tr>
                                    <td><iron-icon icon="today"></td>
                                    <td>{{storedUser.fec_naci}}</td>
                                  </tr>
                                  <tr>
                                    <td><iron-icon icon="face"></td>
                                    <td>{{storedUser.genero}}</td>
                                  </tr>
                                  <tr>
                                    <td> <iron-icon icon="mail"></iron-icon></td>
                                    <td><a href="mailto:{{storedUser.email}}">{{storedUser.email}}</a></td>
                                  </tr>
                                  <tr>
                                    <td> <iron-icon icon="settings-phone"></iron-icon></td>
                                    <td>{{storedUser.telefono}}<br></td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                  <input type="button" class="btn btn-primary" on-click="routeEditPerf" value="Editar perfil">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </template>

        </div>
        <p hidden$="[[storedUser.logado]]">Debes realizar <a href="[[rootPath]]register-login">log in</a> para acceder a esta página</p>
    </div>
  </template>

  <script>
    class VisorPerfil extends Polymer.Element {
      static get is() { return 'visor-perfil'; }

      static get properties() {
          return {
            storedUser: Object,
            render:{
              type: Boolean,
              value: false
            },
            activated: {
                type: Boolean,
                observer: '_activationChanged'
            },
            error:{
              type: Boolean,
              value: false
            },
            msgError: String
          };
      }

      /**
       * Método que se invoca al cambiar la propiedad 'activated', es decir, cuando se activa esta página en el navegador
       */
      _activationChanged(newval, oldval) {
        if (newval){
          //reset de las variables de control de error
          this.error = false
          this.msgError = ""
          //todavía no se puede pintar la información en pantalla
          this.render = false
          //lanzar petición de datos de usuario al API
          this.$.obtenerDatosPerfil.url = "http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/usuarios/"+this.storedUser.id
          this.$.obtenerDatosPerfil.generateRequest()
        }
      }

      /**
       * Manejador del resultado de la petición de datos de usuario
       */
      handleDatosPerfil(resultado){
        var storedUserAux = this.storedUser
        this.storedUser = {
          email: storedUserAux.email,
          id: storedUserAux.id,
          nombre: storedUserAux.nombre,
          apellido: storedUserAux.apellido,
          ciudad: resultado.detail.response.ciudad,
          genero: resultado.detail.response.genero,
          fec_naci: resultado.detail.response.fec_naci,
          telefono: resultado.detail.response.telefono,
          logado: storedUserAux.logado
        }
        //en este momento ya se puede pintar la información en pantalla
        this.render = true
      }

      /**
       * Manejador del error de la petición de datos de usuario
       */
      handleErrorPerfil(error){
        this.error = true
        this.msgError = "No se ha podido cargar el perfil. Por favor, inténtelo de nuevo."
      }

      /**
       * Método invocado al pulsar el botón de "Editar perfil"
       */
      routeEditPerf(e){
        this.set('route.path', '/editar-perfil');
      }
    }

    window.customElements.define(VisorPerfil.is, VisorPerfil);
  </script>
</dom-module>
