<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .collapse-content {
        padding: 15px;
        border: 1px solid #dedede;
      }

      google-chart {
        height: 300px;
        width: 50em;
      }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-localstorage name="user-iban" value="{{storedIban}}"></iron-localstorage>
    <brum-global-variable key="userIban" value="{{storedIban}}"></brum-global-variable>


    <!-- Establecer la localicazación de la app -->
      <app-location route="{{route}}"></app-location>


    <!-- Recuperar las cuentas consultando al API -->
    <iron-ajax id="obtenerCuentas"
      url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/cuentas/cliente"
      method = "GET"
      handle-as="json"
      on-response="handleCuentas"
      on-error="handleErrCuentas">
    </iron-ajax>

    <!-- Pintar los movimientos -->
    <div class="card">
        <div hidden$="[[!storedUser.logado]]">

          <!-- Si todavía no se puede pintar la tabla se pinta el icono de carga -->
          <template is="dom-if" if="{{!render}}">
            <paper-spinner-lite active class="thin"></paper-spinner-lite>
          </template>

          <!-- Las cuentas se pintan si se han recibido y el manejador de la petición ha activado el atributo 'render' -->
          <template is="dom-if" if="{{render}}">

            <h3>{{storedUser.nombre}}, estas son sus cuentas</h3>
            <table class="table table-striped">
                <thead>
                  <th>IBAN</th>
                  <th>SALDO</th>
                </thead>
                <tbody>
                <template is="dom-repeat" items="{{cuentas}}">
                    <tr>
                        <td>{{item.iban}}</td>
                        <td>{{_formatNumber(item.saldo)}}</td>
                        <td><paper-button class="btn btn-info" id={{item.iban}} on-click="routeMovs">Ver movimientos</paper-button> <td>
                          <td><paper-button class="btn btn-info" id={{item.iban}} on-click="routeMoverDinero">Enviar/Pedir dinero</paper-button> <td>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>



            <google-chart
              type='column'
              options='{"title": "Distribución de saldos en mis cuentas"}'
              cols='[{"label":"IBAN", "type":"string"}, {"label":"Saldo", "type":"number"}]'
              rows='{{filas}}'>
            </google-chart>

          </template>
        </div>
        <p hidden$="[[storedUser.logado]]">Debes realizar <a href="[[rootPath]]register-login">log in</a> para acceder a esta página</p>
    </div>
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }

      static get properties() {
          return {
            storedUser: Object,
            storedIban: Object,
            activated: {
                type: Boolean,
                observer: '_activationChanged'
            },
            render:{
              type: Boolean,
              value: false
            },
            cuentas: Array,
            filas: Array,
            error:{
              type: Boolean,
              value: false
            },
            msgError: String
          };
      }

      /**
       * Método que se invoca al cambiar la propiedad 'activated', es decir, cuando se activa esta página en el navegador
       */
      _activationChanged(newval, oldval) {
        if (newval){
          //todavía no se puede pintar la información en pantalla
          this.render = false

          //lanzar petición de datos de usuario al API
          this.$.obtenerCuentas.headers.idcliente = this.storedUser.id
          this.$.obtenerCuentas.generateRequest()
        }
      }

      /**
       * Formatear un número según la configuración local del pc donde se ejecute
       */
      _formatNumber(saldo){
        return saldo.toLocaleString()
      }

      /**
       * Manejador del resultado de la petición de cuentas
       */
      handleCuentas(resultado){
        // Se recupera el JSON con la informaión de las cuentas
        this.cuentas = resultado.detail.response

        // Se arman las filas del gráfico insertando el IBAN y el saldo
        this.filas = [] //inicializar array
        for (var i in resultado.detail.response) {
          this.filas.push([resultado.detail.response[i].iban, resultado.detail.response[i].saldo])
        }
        //en este momento ya se puede pintar la información en pantalla
        this.render = true
      }

      /**
       * Manejador del error de la petición de cuentas
       */
      handleErrCuentas(error){
        this.error = true
        this.msgError = "No se han podido cargar las cuentas. Por favor, inténtelo de nuevo."
      }

      routeMovs(e){
        // se recoge el IBAN
        this.storedIban = {
          iban: e.srcElement.id
        }
        this.set('route.path', '/visor-movimientos');
      }

      routeMoverDinero(e){
        // se recoge el IBAN
        this.storedIban = {
          iban: e.srcElement.id
        }
        this.set('route.path', '/mover-dinero');
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
