<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="../bower_components/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      google-map {
        height: 300px;
      }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }      
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-localstorage name="user-iban" value="{{storedIban}}"></iron-localstorage>
    <brum-global-variable key="userIban" value="{{storedIban}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <!-- Recuperar las cuentas consultando al API -->
    <iron-ajax id="getMovs"
      url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v1/cuentas/movimientos"
      method = "GET"
      handle-as="json"
      on-response="handleMovs"
      on-error="handleErrMovs">
    </iron-ajax>

    <!-- Pintar los movimientos si el usuario está logado-->
    <div class="card">
      <!-- Aviso al usuario si se ha producido algún error -->
      <p class="alert-error" hidden$={{!error}}><strong>Error:</strong> {{msgError}}</p>

      <div hidden$="[[!storedUser.logado]]">

        <!-- Si todavía no se puede pintar la tabla se pinta el icono de carga -->
        <template is="dom-if" if="{{!render}}">
          <paper-spinner-lite active class="thin"></paper-spinner-lite>
        </template>

        <!-- Los movimientos se pintan si se han recibido y el manejador de la petición ha activado el atributo 'render' -->
        <template is="dom-if" if="{{render}}">
          <h3>{{storedUser.nombre}}, estos son los movimientos de tu cuenta {{storedIban.iban}}</h3>

          <!-- Inicio tabla de movimientos -->
          <table class="table table-striped">
              <thead>
                <th>Fecha</th>
                <th>Importe</th>
                <th>Divisa</th>
                <th>Geolocalización</th>
              </thead>
              <tbody>
              <template is="dom-repeat" items="{{movs}}">
                  <tr>
                      <td>{{item.fecha}}</td>
                      <td>{{item.importe}}</td>
                      <td>{{item.moneda}}</td>
                      <td>
                        <paper-collapse-group>
                          <paper-collapse-item icon="icons:room" header="Abrir mapa">
                            <!-- Solo se pintará el mapa si hay coordenadas establecidas -->
                            <template is="dom-if" if="{{validarCoordenadas(item.latitud, item.longitud)}}">
                              <!-- Pintado del mapa y marcadores -->
                              <google-map latitude="{{item.latitud}}" longitude="{{item.longitud}}" zoom="11">
                                <google-map-marker latitude="{{item.latitud}}" longitude="{{item.longitud}}"></google-map-marker>
                              </google-map>
                            </template>
                            <!-- Si no hay coordenadas disponibles, se muestra mensaje de aviso -->
                            <template is="dom-if" if="{{!validarCoordenadas(item.latitud, item.longitud)}}">
                              La geolocalización de este movimiento no está disponible
                            </template>
                          </paper-collapse-item>
                        </paper-collapse-group>
                    </td>
                  </tr>
              </template>
              </tbody>
          </table>
          <!-- Fin tabla de movimientos -->

        </template>
      </div>

      <!-- Si no se ha realizado login, se solicita al usuario que realice login para tener acceso a esta página -->
      <p hidden$="[[storedUser.logado]]">Debes realizar <a href="[[rootPath]]register-login">log in</a> para acceder a esta página</p>
  </div>

  </template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }

      static get properties() {
          return {
              storedUser: Object,
              storedIban: Object,
              movs: Array,
              render:{
                type: Boolean,
                value: false
              },
              activated: {
                  type: Boolean,
                  observer: '_activationChanged'
              },
              error:{
                type: Boolean,
                value: false
              },
              msgError: String
          };
      }

      /**
       * Método que se invoca al cambiar la propiedad 'activated', es decir, cuando se activa esta página en el navegador
       */
      _activationChanged(newval, oldval) {
        if (newval){
          //reset de las variables de control de error
          this.error = false
          this.msgError = ""
          //todavía no se puede pintar la información en pantalla
          this.render = false
          //lanzar petición de datos de usuario al API
          this.$.getMovs.headers.iban = this.storedIban.iban
          this.$.getMovs.generateRequest()
        }
      }

      /**
       * Manejador del resultado de la petición de movimientos
       */
      handleMovs(res){
        // Almacenamiento de los movimientos para pintarlos en la tabla
        this.movs = res.detail.response[0].movimientos

        //en este momento ya se puede pintar la información en pantalla
        this.render = true
      }

      /**
       * Manejador del error de la petición de movimientos
       */
      handleErrMovs(error){
        this.error = true
        this.msgError = "No se han podido cargar los movimientos. Por favor, inténtelo de nuevo."
      }

      /**
       * Validador de coordenadas para determinar si se puede pintar o no el gmap
       */
       validarCoordenadas(latitud, longitud){
         if(!latitud || !longitud){
           return false
         }
         else{
           return true
         }
       }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
